.menu {
  width: 100%;
  height: 100%;
  background: rgba(197, 197, 197, 0); /*see alpha not needed, because of canvas backgorund*/
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main {

  display: flex;
  flex-direction: column;
  align-items: center;     
  gap: 7.5vh; 
  padding-bottom: 8vh;
}

.topLeft {
  position: absolute;
  top: 2vh;
  left: 0.1vw;
}


.infoButton {
  pointer-events: all;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
    --icon-fill: transparent;
  --icon-stroke: #1E1E1E;
}

.infoButtonImg{
  height: 3vh;
   transition: transform 0.2s ease;
}

.infoButtonImg path {
 
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;

  transition: all 0.2s ease;
}


.infoButton:hover {
  --icon-fill: rgb(136, 136, 136);
  --icon-stroke: rgba(197, 197, 197, 0.973);
}


.infoButton.active {
  --icon-fill: #1e1e1e;
  --icon-stroke: rgba(197, 197, 197, 0.973);
}



.logo {
  display: flex;
  justify-content: center;
  height: 13.7vh; 
}

.bottomArea {
  margin: 30px;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 30vh; 
  display: flex;
  justify-content: center;
}

.mobileWarning {

 margin-top: auto;
  margin-bottom: auto;
  min-height: 30vh;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.controls {

  pointer-events: all;
  display: flex;
  flex-direction: column;

  gap: 0.1vh;
 
}

.controlChild {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
   gap: 1rem; 
}

.controlChild img {
  height: 5.5vh;
}

.controlChild:first-child img {
  transform: translateY(-1.3vh) translateX(-1.3vh);
  height: 4.5vh;
}

.controlChild:first-child {
  padding-top: 1.6vh;
}

.infoEtymology{
  padding-bottom: 1.6vh;
  text-align: center;
   opacity: 0.7;
}
 
.infoText{
    font-size: 1.125rem; 
     max-width: 50ch; /*65*/
}

.logoSignatureWrapper{
  max-width: 66ch;
  display: flex;
  justify-content: flex-end; 

}

.logoSignature{
  pointer-events: all;
  cursor: pointer; 
}

.logoSignature img {
  height: 4vh;
  opacity: 0.85; 
  transition: transform 0.3s ease, opacity 0.3s ease;
}



.logoSignature:hover img {
  transform: scale(1.1);        
  opacity: 1;                
}

.controls,
.info, .logo {
  animation: fadeInUp 0.35s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.startButton{
  --button-fill: #D1C08D;
  --button-background: #D9D9D9;
  pointer-events: all;
  cursor: pointer;
  background: transparent;
  border: none;
  
}

.startButton:hover{
  --button-fill: #d8d8d8;
  --button-background: #1e1e1e;
}


.startButton svg{
  height: 10vh;
}

.spinner {
  width: 10.6vh;
  height: 10.6vh;
  border: 0.5vh solid rgb(136, 136, 136);
  border-top: 0.5vh solid #1e1e1e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}