/*for removing input step arrows*/
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

/*on focus, selection auto*/
input[type="number"]::selection {
  background: rgba(94, 94, 94, 0.3);
  color: #000;
}

input[type="number"] {
  border: none;
  outline: none;
  
}

input[type="number"]:focus {
  box-shadow: 0 0 0 2px rgba(33, 33, 33, 0.5); 
  border-radius: 4px;
}
    .main {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.controls {
  pointer-events: auto;
  cursor: default;
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
  overflow-x: auto;
  max-width: 100%;
  background-color: #d9d9d9ef;
  border-radius: 6px; /* see radius all all */
  align-items: center;
  gap: 2px;
  padding: 6px;
}

.buttonControl{
   height: 7vh;
  opacity: 0.7;
   border: none;
   cursor: pointer;
   background: none;
  /*border-radius: 50%;*/
  
}

.buttonControl:not(.notClickable):hover {
  opacity: 1;
}

.buttonControl img {
  height: 3.5vh;

}

.notClickable {
  cursor: default;
  pointer-events: none;
  opacity: 0.2; /* entire button fades */
}

.pageInput{
  color:#777777;
  cursor:pointer; /*caret color if white hard to read*/
  border: none;
  pointer-events: all;
  background: none;
   text-align: center;
   font-size: 2rem;  
   font-family: inherit;
   width: 4ch;
   transform: translateY(-1px);
}

.pageInput:hover{
  color:#5b5b5b
}

.inputWrapper {
transform: translateY(5px);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.inputPageMax {
   opacity: 0;
  font-size: 0.6em;     
  color: #888;         
  transition: opacity 0.2s ease;
 
}

.controls:hover .inputPageMax {
  opacity: 1;
}

.information {
  position: absolute;
  bottom: 20px;             
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  gap: 20px;                    
  padding: 10px 20px;

                            
}

.informationChild {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(233, 233, 233, 0.851);
    color: #2d2d2d;
    border-radius: 8px;
    padding: 10px 10px;
    width: max-content;
    gap: 2px;
    /*border: 0.4vh solid #494949;*/

}

/*
.informationChild:last-child {
  text-align: right; 
}*/


.information h2,
.information h3 {
    margin: 0;
font-weight: 400;
}






