/*for removing input step arrows*/
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .main {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.controls {
  pointer-events: auto;
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
  overflow-x: auto;
  max-width: 100%;
  background-color: #d9d9d9ef;
  border-radius: 6px; /* see radius all all */
  align-items: center;
  gap: 2px;
  padding: 6px;
}

.buttonControl{
   height: 7vh;
  
   border: none;
   cursor: pointer;
   background: none;
  /*border-radius: 50%;*/
  
}

.buttonControl img {
  height: 3.5vh;

}

.pageInput{
  color:#656565;
  cursor:pointer; /*caret color if white hard to read*/
  border: none;
  pointer-events: all;
  background: none;
   text-align: center;
   font-size: 2rem;  
   font-family: inherit;
   width: 4ch;
   transform: translateY(-1px);
}



.information {
  position: absolute;
  top: 50%;             
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  gap: 20px;                    
  padding: 10px 20px;

  transform: translateY(-50%);                             
}

.informationChild {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(233, 233, 233, 0.851);
    color: #2d2d2d;
    border-radius: 8px;
    padding: 10px 10px;
    width: max-content;
    gap: 2px;
    /*border: 0.4vh solid #494949;*/

}



.information h2,
.information h3 {
    margin: 0;
font-weight: 400;
}






