.container{
      pointer-events: auto;
  cursor: default;
  width: 20%;

   font-family: inherit;

  animation: fadeInUp 0.35s ease;

}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container h2{
  font-weight: 400;
    color: #424242;
}

.container  h4{
font-weight: 300;
color: #656565;
}


:global(.rhap_container) {

  border-radius: 6px; /* see radius all all */

  background-color: #d9d9d9fa;
 
}

:global(.rhap_main-controls-button) svg {
  color:#777777;
}

:global(.rhap_main-controls-button:hover ) svg {
 color:#5b5b5b
}

