/*
.btn {
    font-family: inherit;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 16px;
    background: white;
    cursor: pointer;
    border-radius: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(233, 233, 233, 0.851);
    color: #2d2d2d;
    border-radius: 8px;
    padding: 10px 10px;
    width: max-content;
    gap: 2px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  /* border: 3px solid #2d2d2d;
}

.information h2,
h3 {
    margin: 0;

} 
    */

    .main {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.controls {
  pointer-events: auto;
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
  overflow-x: auto;
  max-width: 100%;
}


.information {
  position: absolute;
  top: 50%;             
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  gap: 20px;                    
  padding: 10px 20px;

  transform: translateY(-50%);                             
}

.informationChild {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(233, 233, 233, 0.851);
    color: #2d2d2d;
    border-radius: 8px;
    padding: 10px 10px;
    width: max-content;
    gap: 2px;
    border: 0.4vh solid #494949;

}

.informationChild:last-child {
  text-align: right; 
}


.information h2,
.information h3 {
    margin: 0;

}





