@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Inter", sans-serif;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  background: #f0f0f0;
}


.ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* affect mian menu asweell*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}


.ui-overlay button {
  pointer-events: auto; 
}


.canvas{
  opacity: 1;
   transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.canvas.non-opaque{
  opacity: 0; /* 0 normal, 1 for temp leva cotnrols working*/
}