/*for removing input step arrows*/
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

/*on focus, selection auto*/
input[type="number"]::selection {
  background: rgba(94, 94, 94, 0.3);
  color: #000;
}



input[type="number"] {
  border: none;
  outline: none;
  appearance: textfield;
  -moz-appearance:textfield;
  
}

input[type="number"]:focus {
  box-shadow: 0 0 0 2px rgba(33, 33, 33, 0.5); 
  border-radius: 4px;
}
    .main {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.controls {
  pointer-events: auto;
  cursor: default;
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
  overflow-x: auto;
  max-width: 100%;
  background-color: #d9d9d9fa;
  border-radius: 6px; 
  align-items: center;
  gap: 2px;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(42, 42, 42, 0.3);
  animation: fadeInUp 0.35s ease;
}

.buttonControl{
   height: 7vh;
  opacity: 0.7;
   border: none;
   cursor: pointer;
   background: none;

  
}

.buttonControl:not(.notClickable):hover {
  opacity: 1;
}

.buttonControl img {
  height: 3.5vh;

}

.notClickable {
  cursor: default;
  pointer-events: none;
  opacity: 0.2; /* entire button fades */
}

.pageInput{
  color:#777777;
  cursor:pointer; /*caret color if white hard to read*/
  border: none;
  pointer-events: all;
  background: none;
   text-align: center;
   font-size: 2rem;  
   font-family: inherit;
   width: 4ch;
   transform: translateY(-1px);
}

.pageInput:hover{
  color:#5b5b5b
}

.inputWrapper {
transform: translateY(5px);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.inputPageMax {
   opacity: 0;
  font-size: 0.6em;     
  color: #888;         
  transition: opacity 0.2s ease;
 
}

.controls:hover .inputPageMax {
  opacity: 1;
}

.information {
  position: absolute;
  bottom: 30px;
  left: 50%;   /*center  */
  width: 0;    /* shrink container */
  height: auto;
}


.informationChild {
    position: absolute;
  bottom: 0;
      display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    background: #d9d9d9fa;
    border-radius: 6px;
    padding: 28px 18px;
    width: max-content;
    gap: 2px;
    box-shadow: 0 2px 6px rgba(42, 42, 42, 0.3);
    animation: fadeInUp 0.35s ease;


}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.informationChild:first-child {
  right: 180px;          /* gap from center */
  transform: translateX(0); /* right edge fixed, grows left */
}

.informationChild:last-child {
  left: 180px;           /* gap from center */
  transform: translateX(0); /* left edge fixed, grows right */
}



.information h2,
.information h4 {
    margin: 0;
}

.information h2{
  font-weight: 400;
    color: #424242;
}

.information h4{
font-weight: 300;
color: #656565;
}




